
</div>

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>

</body>

<div id="footer-padding"></div>
<footer id="footer">
  Made by Siddhant
</footer>
</html>
