
</div>

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>

</body>
<div id="footer-padding"></div>
<div id="footer">
  Made with ❤️ by Siddhant
</div>
</html>
