<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Blogging</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <div class="topnav" id="myTopnav">
    <a id= id="logout" href="/logout" class="active">LOGOUT</a>
    <a id= id="compose" href="/compose" class="active">COMPOSE</a>
    <a id="contact" href="/contact">CONTACT</a>
    <a id="about" href="/about">ABOUT</a>
    <a id="home" href="/home">HOME</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
  </div>

    <!-- <ul>
        <li id="compose"><a href="/compose">CREATE</a></li>
        <li id="contact"><a href="/contact">CONTACT US</a></li>
        <li id="about"><a href="/about">ABOUT US</a></li>
        <li id="home"><a href="/">HOME</a></li>
    </ul> -->

</head>

  <body>
    <div class="container">
