<%- include("partials/header") -%>

<div class="card">
  <center><h1>Compose</h1></center>
  <form class="publish" action="/compose" method="post">

      <div>
        <label>Title</label>
        <input type="text" placeholder="title" name="Title">
        <label >Post</label>
        <textarea name="blog" rows="5" cols="80"></textarea>
      </div>

    <center><button type="submit" class="btn">Publish</button></center>

  </form>

  </div>

<%- include("partials/footer") -%>
