*{
  color: white;
}
body {
  background-color:#8b8787;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: res;
  background-color: #000;
}
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: black;
    border-radius: .3rem;
}
.centered {
    padding-top: 200px;
    text-align: center;
}
